version: 2.1

orbs:
  # Replace this with your own!
  macos-orb: circleci/macos@<<pipeline.parameters.dev-orb-version>>
  orb-tools: circleci/orb-tools@10.0
  bats: circleci/bats@1.0
  shellcheck: circleci/shellcheck@2.0

# Pipeline Parameters
## These parameters are used internally by orb-tools. Skip to the Jobs section.
parameters:
  run-integration-tests:
    description: An internal flag to prevent integration test from running before a development version has been created.
    type: boolean
    default: false
  dev-orb-version:
    description: >
      The development version of the orb to test.
      This value is automatically adjusted by the "trigger-integration-tests-workflow" job to correspond with the specific version created by the commit and should not be edited.
      A "dev:alpha" version must exist for the initial pipeline run.
    type: string
    default: "dev:alpha"

jobs:
  # Define one or more jobs which will utilize your orb's commands and parameters to validate your changes.
  integration-test-xcode-13:
    macos:
        xcode: 13.2.1
    steps:
        - checkout
        - macos-orb/switch-ruby:
            version: "3.0"
        - run:
            name: Verify Ruby version
            command: ruby -v | grep "ruby 3.0"
        - macos-orb/list-permission-types
        - macos-orb/list-permissions
        - macos-orb/add-uitest-permissions
        - run:
            command: bundle install
            working_directory: ~/project/sample_mac_project
        - run:
            name: Check macOS App UITesting Enabled
            command: bundle exec fastlane testandbuild
            working_directory: ~/project/sample_mac_project
        - macos-orb/add-safari-permissions
        - run:
            name: Check Safari Testing
            command: |
              npm install
              npm run testci
            working_directory: ~/project/sample_browser_project
        - macos-orb/list-permissions
        - macos-orb/preboot-simulator:
            device: "iPhone 13"
            platform: "iOS"
            version: "15.2"
  integration-test-xcode-12:
    macos:
        xcode: 12.5.1
    steps:
        - checkout
        - macos-orb/switch-ruby:
            version: "2.7"
        - run:
            name: Verify Ruby version
            command: ruby -v | grep "ruby 2.7"
        - macos-orb/list-permission-types
        - macos-orb/list-permissions
        - macos-orb/add-uitest-permissions
        - run:
            command: bundle install
            working_directory: ~/project/sample_mac_project
        - run:
            name: Check macOS App UITesting Enabled
            command: bundle exec fastlane testandbuild
            working_directory: ~/project/sample_mac_project
        - macos-orb/add-safari-permissions
        - run:
            name: Check Safari Testing
            command: |
              npm install
              npm run testci
            working_directory: ~/project/sample_browser_project
        - macos-orb/list-permissions
        - macos-orb/preboot-simulator:
            device: "iPhone 12"
            platform: "iOS"
            version: "14.5"
  integration-test-xcode-11:
    macos:
        xcode: 11.7.0
    steps:
        - checkout
        - macos-orb/switch-ruby:
            version: "2.7"
        - run:
            name: Verify Ruby version
            command: ruby -v | grep "ruby 2.7"
        - macos-orb/list-permission-types
        - macos-orb/list-permissions
        - macos-orb/add-uitest-permissions
        - run:
            command: bundle install
            working_directory: ~/project/sample_mac_project
        - run:
            name: Check macOS App UITesting Enabled
            command: bundle exec fastlane testandbuild
            working_directory: ~/project/sample_mac_project
        - macos-orb/add-safari-permissions
        - run:
            name: Check Safari Testing
            command: |
              npm install
              npm run testci
            working_directory: ~/project/sample_browser_project
        - macos-orb/list-permissions
        - macos-orb/preboot-simulator:
            device: "iPhone 11"
            platform: "iOS"
            version: "13.7"

workflows:
  # Prior to producing a development orb (which requires credentials) basic validation, linting, and even unit testing can be performed.
  # This workflow will run on every commit
  test-pack:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      - orb-tools/lint # Lint Yaml files
      - orb-tools/pack # Pack orb source
      # - shellcheck/check:
      #     dir: ./src/scripts
      #     exclude: SC2148
      # If you accept building open source forks, protect your secrects behind a restricted context.
      # A job containing restricted context (which holds your orb publishing credentials) may only be accessed by a user with proper permissions.
      # An open source user may begin a pipeline with a PR, and once the pipeline is approved by an authorized user at this point, the pipeline will continue with the proper context permissions.
      - hold-for-dev-publish:
          type: approval
          requires:
            - orb-tools/lint
            - orb-tools/pack
            # - shellcheck/check
      # Publish development version(s) of the orb.
      - orb-tools/publish-dev:
          orb-name: circleci/macos
          context: orb-publisher # A restricted context containing your private publishing credentials. Will only execute if approved by an authorized user.
          requires: [hold-for-dev-publish]
      # Trigger an integration workflow to test the
      # dev:${CIRCLE_SHA1:0:7} version of your orb
      - orb-tools/trigger-integration-tests-workflow:
          name: trigger-integration-dev
          context: orb-publisher
          requires:
            - orb-tools/publish-dev

  # This `integration-test_deploy` workflow will only run
  # when the run-integration-tests pipeline parameter is set to true.
  # It is meant to be triggered by the "trigger-integration-tests-workflow"
  # job, and run tests on <your orb>@dev:${CIRCLE_SHA1:0:7}.
  integration-test_deploy:
    when: << pipeline.parameters.run-integration-tests >>
    jobs:
      # Run any integration tests defined within the `jobs` key.
      - integration-test-xcode-13
      - integration-test-xcode-12
      - integration-test-xcode-11
      # Publish a semver version of the orb. relies on
      # the commit subject containing the text "[semver:patch|minor|major|skip]"
      # as that will determine whether a patch, minor or major
      # version will be published or if publishing should
      # be skipped.
      # e.g. [semver:patch] will cause a patch version to be published.
      - orb-tools/dev-promote-prod-from-commit-subject:
          orb-name: circleci/macos
          context: orb-publisher
          ssh-fingerprints: d9:ec:1d:45:c7:9c:e2:a3:b4:84:84:f5:66:33:34:7d
          add-pr-comment: true
          bot-token-variable: GHI_TOKEN
          bot-user: orb-publisher
          fail-if-semver-not-indicated: true
          publish-version-tag: true
          requires:
            - integration-test-xcode-13
            - integration-test-xcode-12
            - integration-test-xcode-11
          filters:
            branches:
              only: main
