version: 2.1
orbs:
  macos-orb: circleci/macos@dev:<<pipeline.git.revision>>
  orb-tools: circleci/orb-tools@11.5

filters: &filters
  tags:
    only: /.*/

executors:
  macos:
    parameters:
      xcode:
        type: string

    macos:
      xcode: << parameters.xcode >>

jobs:
  integration-test-xcode:
    parameters:
      ruby-version:
        default: "2.7"
        type: string
      device-name:
        type: string
      device-platform:
        type: string
      device-version:
        type: string
      executor:
        type: executor

    executor: << parameters.executor >>

    steps:
        - checkout
        - macos-orb/switch-ruby:
            version: << parameters.ruby-version >>
        - run:
            name: Verify Ruby version
            command: ruby -v | grep "ruby << parameters.ruby-version >>"
        - macos-orb/list-permission-types
        - macos-orb/list-permissions
        - macos-orb/add-uitest-permissions
        - run:
            command: bundle install
            working_directory: ~/project/sample_mac_project
        - run:
            name: Check macOS App UITesting Enabled
            command: bundle exec fastlane testandbuild
            working_directory: ~/project/sample_mac_project
        - macos-orb/add-safari-permissions
        - run:
            name: Check Safari Testing
            command: |
              npm install
              npm run testci
            working_directory: ~/project/sample_browser_project
        - store_test_results:
            path: sample_browser_project/test_results
        - macos-orb/list-permissions
        - macos-orb/preboot-simulator:
            device: << parameters.device-name >>
            platform: << parameters.device-platform >>
            version: << parameters.device-version >>
        - macos-orb/enable-vnc

workflows:
  test-deploy:
    jobs:
      - integration-test-xcode:
          name: "integration-test-xcode-13"
          ruby-version: "3.0"
          device-name: "iPhone 13"
          device-platform: "iOS"
          device-version: "15.2"
          executor:
            name: "macos"
            xcode: "13.4.1"
          filters: *filters
      - integration-test-xcode:
          name: "integration-test-xcode-12"
          ruby-version: "2.7"
          device-name: "iPhone 12"
          device-platform: "iOS"
          device-version: "14.5"
          executor:
            name: "macos"
            xcode: "12.5.1"
          filters: *filters
      - integration-test-xcode:
          name: "integration-test-xcode-11"
          ruby-version: "2.7"
          device-name: "iPhone 11"
          device-platform: "iOS"
          device-version: "13.7"
          executor:
            name: "macos"
            xcode: "11.7.0"
          filters: *filters
      - orb-tools/pack:
          filters: *filters
      - orb-tools/publish:
          orb-name: circleci/macos
          vcs-type: << pipeline.project.type >>
          pub-type: production
          requires:
            - orb-tools/pack
            - integration-test-xcode-13
            - integration-test-xcode-12
            - integration-test-xcode-11
          context: image-orbs
          github-token: GHI_TOKEN
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
